In [21]:
# create temporary df with 3 rows and 3 colums and fill with random number between 1 to 9
import pandas as pd
import numpy as np
df = pd.DataFrame(columns=list('ABC'))
##add 6 rows with A as 5, 3, and 6 in each two rows
df.loc[len(df.index)] = [5, 5, 3]
df.loc[len(df.index)] = [3, 5, 3]
df.loc[len(df.index)] = [3, 5, 3]
df.loc[len(df.index)] = [5, 1, 2]
df.loc[len(df.index)] = [3, 2, 3]
df.loc[len(df.index)] = [5, 1, 1]
print(df)

   A  B  C
0  5  5  3
1  3  5  3
2  3  5  3
3  5  1  2
4  3  2  3
5  5  1  1

In [22]:
df.groupby(df['A'])['B'].mean()
df

   A  B  C
0  5  5  3
1  3  5  3
2  3  5  3
3  5  1  2
4  3  2  3
5  5  1  1